* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: #ccef;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 6rem;
    background: rgb(132, 121, 121);
}

.container h2 {
    color: #fff;
    font-family: sans-serif;
    font-size: 3rem;
    margin-bottom: 40px;
}

.input-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-box input {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    outline: none;
}

.input-box .clear {
    margin-left: 10px;
    margin-bottom: 20px;
    padding: 10px 20px;
}

.input-container input {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    outline: none;
}

button {
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(60, 59, 60);
    color: #fff;
    border: none;
    margin: 10px;
}

p {
    width: 400px;
    height: 400px;
    background: #ccef;
    color: #000;
    height: 50px;
    border: 1px solid #555;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 2rem;
    font-family: sans-serif;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.underline {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

body {
    transition: 1.5s;
}

.container {
    transition: 1.5s;
}

body.dark-mode {
    background-color: #121212;
}

body.dark-mode .container {
    background-color: #222;
}

body.dark-mode p {
    background-color: #333;
    color: #fff;
    border-color: #777;
}

body.dark-mode .input-box input,
body.dark-mode .input-container input {
    background-color: #333;
    color: #fff;
    border: 1px solid #777;
}

body.dark-mode button {
    background-color: #fff;
    color: #000;
}

#theme-btn {
    position: absolute;
    top: 20px;
    right: 20px;
}